.number {
    border-radius: 4px;
    margin-left: 2%;
}
.comment{
    padding: 1% 70% 30% 1%;
    resize: vertical;
    border-radius: 4px;
    margin-right: 5%;
    margin-top: 2%;
}
.btn{
    margin-top: 2%;
}